[tw_staging]
url=https://cf-staging.takewalks.com
first_name=
last_name=
email=
phone=
card_number=
expiry_month=
expiry_year=
cvv=
address=
country=
zip=
state=
city=

[tw_production]
url=https://www.takewalks.com
first_name=
last_name=
email=
phone=
card_number=
expiry_month=
expiry_year=
cvv=
address=
country=
zip=
state=
city=

[woi_staging]
url=https://cf-staging.walksofitaly.com
first_name=
last_name=
email=
phone=
card_number=
expiry_month=
expiry_year=
cvv=
address=
country=
zip=
state=
city=

[woi_production]
url=https://www.walksofitaly.com
first_name=
last_name=
email=
phone=
card_number=
expiry_month=
expiry_year=
cvv=
address=
country=
zip=
state=
city=
