[staging_card]
url=https://www.takewalks.com
first_name=
last_name=
email=
phone=
card_number=
expiry_month=
expiry_year=
cvv=
address=
country=
zip=
state=
city=

[production_card]
url=https://www.takewalks.com
first_name=
last_name=
email=
phone=
card_number=
expiry_month=
expiry_year=
cvv=
address=
country=
zip=
state=
city=